@use "../variables" as *;

.sidebar-container {
  padding: 20px;
}

.branding-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    margin-right: 10px;
    height: 43px;
    width: 22px;
  }

  p {
    font-size: 16px;
    text-align: start;
    font-weight: $font-bold;
  }
}
