@font-face {
  font-family: 'EcoIcons';
  src:
    url('fonts/EcoIcons.woff2') format('woff2'),
    url('fonts/EcoIcons.ttf') format('truetype'),
    url('fonts/EcoIcons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon,
[class^='eco-icon-'],
[class*=' eco-icon-'] {
  /* Use !important to prevent extensions from overriding this font. */
  font-family: 'EcoIcons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.eco-icon-access-alarm:before {
  content: '\f002';
}
.eco-icon-add-people:before {
  content: '\f001';
}
.eco-icon-analytics:before {
  content: '\f04c';
}
.eco-icon-arrow-down:before {
  content: '\f000';
}
.eco-icon-back:before {
  content: '\f048';
}
.eco-icon-bar-chart:before {
  content: '\f047';
}
.eco-icon-bar_chart:before {
  content: '\f04b';
}
.eco-icon-blocked:before {
  content: '\f046';
}
.eco-icon-calendar:before {
  content: '\f045';
}
.eco-icon-cancel:before {
  content: '\f044';
}
.eco-icon-cancel-circle:before {
  content: '\f043';
}
.eco-icon-change-password:before {
  content: '\f042';
}
.eco-icon-circle:before {
  content: '\f041';
}
.eco-icon-codetables:before {
  content: '\f040';
}
.eco-icon-columns:before {
  content: '\f03f';
}
.eco-icon-correct:before {
  content: '\f03e';
}
.eco-icon-correct-circle:before {
  content: '\f03d';
}
.eco-icon-cycle:before {
  content: '\f03c';
}
.eco-icon-data:before {
  content: '\f03b';
}
.eco-icon-declined:before {
  content: '\f03a';
}
.eco-icon-delete:before {
  content: '\f039';
}
.eco-icon-do_not_disturb_on:before {
  content: '\f049';
}
.eco-icon-edit:before {
  content: '\f038';
}
.eco-icon-edit-outline:before {
  content: '\f037';
}
.eco-icon-envelope:before {
  content: '\f036';
}
.eco-icon-event:before {
  content: '\f035';
}
.eco-icon-expand_circle_down:before {
  content: '\f04a';
}
.eco-icon-export:before {
  content: '\f034';
}
.eco-icon-eye:before {
  content: '\f033';
}
.eco-icon-file:before {
  content: '\f032';
}
.eco-icon-file-paper:before {
  content: '\f031';
}
.eco-icon-first-page:before {
  content: '\f030';
}
.eco-icon-full-screen:before {
  content: '\f02f';
}
.eco-icon-gps:before {
  content: '\f02e';
}
.eco-icon-guard:before {
  content: '\f02d';
}
.eco-icon-hour:before {
  content: '\f02c';
}
.eco-icon-hour-arrow:before {
  content: '\f02b';
}
.eco-icon-in-preparation:before {
  content: '\f02a';
}
.eco-icon-in-progress:before {
  content: '\f029';
}
.eco-icon-key:before {
  content: '\f028';
}
.eco-icon-last-page:before {
  content: '\f027';
}
.eco-icon-layers:before {
  content: '\f026';
}
.eco-icon-line-chart:before {
  content: '\f025';
}
.eco-icon-link:before {
  content: '\f024';
}
.eco-icon-logout:before {
  content: '\f023';
}
.eco-icon-m2:before {
  content: '\f022';
}
.eco-icon-next-page:before {
  content: '\f021';
}
.eco-icon-notifications:before {
  content: '\f020';
}
.eco-icon-overlay:before {
  content: '\f01f';
}
.eco-icon-person:before {
  content: '\f01e';
}
.eco-icon-pin:before {
  content: '\f01d';
}
.eco-icon-playlist-add:before {
  content: '\f01c';
}
.eco-icon-previous-page:before {
  content: '\f01b';
}
.eco-icon-pulse:before {
  content: '\f01a';
}
.eco-icon-rounded-arrow-up:before {
  content: '\f019';
}
.eco-icon-rounded-correct:before {
  content: '\f018';
}
.eco-icon-rounded-info:before {
  content: '\f017';
}
.eco-icon-ruler:before {
  content: '\f016';
}
.eco-icon-search:before {
  content: '\f015';
}
.eco-icon-servers:before {
  content: '\f014';
}
.eco-icon-solving-cases:before {
  content: '\f013';
}
.eco-icon-starts:before {
  content: '\f012';
}
.eco-icon-storage:before {
  content: '\f011';
}
.eco-icon-task-complete:before {
  content: '\f010';
}
.eco-icon-text-snippet:before {
  content: '\f00f';
}
.eco-icon-tree:before {
  content: '\f00e';
}
.eco-icon-trending-up:before {
  content: '\f00d';
}
.eco-icon-tune:before {
  content: '\f00c';
}
.eco-icon-unknown-document:before {
  content: '\f00b';
}
.eco-icon-upload:before {
  content: '\f00a';
}
.eco-icon-upload-file:before {
  content: '\f009';
}
.eco-icon-video-camera:before {
  content: '\f008';
}
.eco-icon-view-agenda:before {
  content: '\f007';
}
.eco-icon-warrning:before {
  content: '\f006';
}
.eco-icon-warrning-sign:before {
  content: '\f005';
}
.eco-icon-zoom-in:before {
  content: '\f004';
}
.eco-icon-zoom-out:before {
  content: '\f003';
}
