$borderColor: var(--mat-sys-outline-variant);
$borderformColor: var(--mat-sys-outline-variant);
$borderBottm: #e0e0e0;
$border-table: 1px solid rgba(172, 175, 183, 0.25);

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

$primary: var(--mat-sys-primary);
$secondary: var(--mat-sys-secondary);

$accent: var(--mat-sys-secondary);
$error: var(--mat-sys-error);
$warning: #fbd49e;
$success: #5bfad1;
$white: #ffffff;

$light: var(--mat-sys-surface-bright);
$light-primary: var(--mat-sys-primary-fixed-dim);
$light-secondary: var(--mat-sys-secondary-fixed-dim);
$light-accent: var(--mat-sys-secondary-fixed-dim);
$light-error: var(--mat-sys-error-fixed-dim);
$light-warning: #f8c20a26;
$light-success: #36c76c26;

// breakpoints
$breakpoints: (
  lg: 900px,
  lg-down: 991px,
  md: 768px,
  sm: 580px,
  xs: 480px,
);

//cards
$card-bg: #eff3f4;
$card-hover: #d0fadf;
$card-title: #737373;
$card-text-size: 20px;
$card-text-size: 20px;
$card-icon-circle: 62px;
$card-icon-size: 30px;
$card-icon-hover-colors: (
  1: #f68d88,
  2: #5d84fb,
  3: #4ab59c,
  4: #7b6de4,
);

//side-nav
$side-nav-bg: #acafb740;

$border-radius-sm: 4px;
$border-radius-xl: 28px;
$border-radius-circle: 50%;

$text-color: var(--mat-sys-on-background);

$layout-bg: #f4f7fb;

//Text
$text-color: #272727;
$text-hover: #f5f5f5;
$text-bold: 700;
$text-semi-bold: 600;
$text-normal: 400;
$text-button-colors: #474747;
$line-height: 1.5;

//Header
$header-z-index: 101;
$header-height: 70px;
$header-padding: 45px 20px;
$header-notifications-icons-size: 24px;
$header-notifications-icons-color: #626262;
$header-notifications-button-size: 44px;

//Sidebar
$logo-text-size: 12px !important;
$sidebar-expand-icon: 8px;
$sidebar-icon-margin-right: 10px;

//Table
$table-tr-hover: #f9f9f9;
$table-border-radius: 16px;
$table-status-badge-radius: 12px;
$table-z-index: 10;
$table-icon-color: #656565;
$table-td-color: #626262;
$table-th-color: #1a1a1a;
$table-search-input-bg: #eff3f4;

//Paginator
$paginator-text-color: #626262;
$paginator-bg-color: #e6e6e6;
$paginator-bg-radius: 2px;
$paginator-go-to-padding: 0 10px;
$paginator-go-to-input-size: 23px;
$paginator-go-to-input-border: 1px solid $white;
$paginator-icons-size: 20px;

//Chip
$chip-border-radius: 16px;
$chip-active-badge-bg: #d0fadf;
$chip-inactive-badge-bg: #ffdddd;
$chip-in-progress-badge-bg: #fbd49e;
$chip-completed-badge-bg: #5c9fd6;
$chip-active-badge-color: #059856;
$chip-inactive-badge-color: #860909;
$chip-in-progress-badge-color: #b77d2b;
$chip-completed-badge-color: $white;
//Buttons
$buttons-border-radius: 2px;
$buttons-padding-icon: 0 5px;
$buttons-primary-color: $white;
$buttons-primary-bg: $primary;
$buttons-secondary-color: $text-button-colors;
$buttons-secondary-bg: #ececec;
$buttons-tertiary-color: $text-button-colors;
$buttons-tertiary-bg: $white;
$buttons-tertiary-border: 1px solid #d8d8d8;
$buttons-font-size: 18px;
