@use '@angular/material' as mat;
@use '../variables' as *;

.mat-mdc-select {
  @include mat.select-overrides(());
}

.mat-mdc-select-arrow {
  svg {
    display: none;
  }

  border-left: none !important;
  border-right: none !important;
  border-top: none !important;

  width: 10px !important;
  height: 14px !important;
  font-weight: 700;
  background-image: url('/assets/icons-svg/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mat-mdc-form-field.mat-form-field-appearance-fill {
  .mat-mdc-select-arrow-wrapper {
    transform: translateY(0px);
  }
}
.filter-select {
  background-color: $white !important;
  max-height: 70vh !important;
}
.mat-mdc-select-placeholder {
  white-space: nowrap;
  overflow: visible !important;
}
.tri-state-panel {
  width: 300px !important;
  max-width: 300px !important;
  max-height: max-content !important;
  background-color: $white !important;
  border-color: $primary !important;
  .mat-mdc-option {
    .mdc-list-item__primary-text {
      display: flex;
      width: 100%;
    }
  }

  .filter-header {
    display: flex;
    justify-content: flex-end;
    padding: 8px 15px 8px 16px;
    gap: 8px;

    .header-label {
      width: 40px;
    }
  }

  .tri-state-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    height: auto;
    cursor: default;
    background-color: $white !important;

    .option-label {
      flex: 1;
      align-content: center;
      text-align: start;
      user-select: none;
    }

    .checkbox-group {
      display: flex;
      gap: 8px;
      align-items: center;

      mat-checkbox {
        margin: 0;
      }
    }
  }
}
